h1{
color: darkblue;
font-size: 40px;
}
body{
background: #F0F8FF;
}

tbody{
font-size: 18px;
}

form{
font-size: 20px;
}

.navbar-brand{
font-size: 22px;
}

.form-control{
font-size: 25px;
}

label{
font-size: 15px;
}